.container {
  display: flex;
  height: 100px;
}

.one {
  flex: 1;
  background: blue;
}
.two {
  flex: 1;
  background: pink;
}

@media screen and (max-width: 400px){
  .container {
   -webkit-flex-direction: column;
    flex-direction: column;
  }
  .container > div {
    
    -webkit-flex: 1;
    flex: 1;
  }
}